<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MistyDashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MistyDashboard.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="page-container">
        <div class="sidenav">
          <a runat="server" href="~/" class="header">MISTY DASHBOARD</a>
          <a runat="server" href="~/Dashboard/Agents">AGENTS</a>
          <a runat="server" href="~/Dashboard/Tasks">TASKS</a>
          <a runat="server" href="~/Dashboard/Settings">SETTINGS</a>
          <a runat="server" href="~/Dashboard/About">ABOUT</a>
        </div>

        <!-- Page content -->
        <div class="page-content">
          @RenderBody()
        </div>
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mistySkillStarter.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>