html {
    font-size: 14px;
    background-color: black;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}


.page-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */ /* Set the width of the sidebar */
    min-height: 100vh;
    background-color: #111; /* Black */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-width:260px;
}

    .sidenav .header {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-family: Impact;
        font-size: 25px;
        color: #90c0e0;
        display: block;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-family: Impact;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

.navlink-active {
    color: #f1f1f1 !important;
}

.page-content {
    overflow-y: scroll;
    max-height: 100vh;
}


/* White box for task selector*/
.tasks-selector-panel {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    width: 100%;
}

/* White box for task selector*/
.tasks-info-panel {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    width: 100%;
    height: 80%;
}

/* Heading padding in field*/
.tasks-selector-padding {
    padding: 16px;
}

.button-select-robot {
    margin: 8px;
}

.connected-bot-table {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    width: 100%;
}

.connected-bot-info {
    padding: 15px;
}

.bot-info-section {
    font-weight: bold;
}

.bot-controls {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.remove-bot-icon {
    height: 10px;
    width: auto;
    object-fit: contain;
    margin-right: 15px;
    cursor: pointer;
}

.agents-controls {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* Style page content */
.page-content {
    background-color: #eee;
    flex-grow: 1;
    padding: 50px;
}

    .page-content text {
        text-decoration: none;
        font-family: Impact;
        font-size: 25px;
        color: #111;
    }

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(25, end), blink-caret .50s step-end infinite;
}

/* About CSS starting here */

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 60%;
    margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    margin: auto;
    width: 50%;
}
/* Add a background color to the button if it is clicked on  */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}
.faq-body {
    padding: 0 18px;
    background-color: #eee;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/* About CSS ending here */

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: dodgerblue;
    }
}
