@page
@using MistyDashboard.ApplicationState
@model MistyDashboard.Pages.DashBoard.ConnectedRobotsModel
@inject IAppState singleState
@{
    ViewData["Title"] = "Agents";
    List<ConnectedRobot> robots = singleState.getBots();
}

<div class="modal fade " id="add-robot-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
          <div class="container p-5">
            <h1 class="mb-2">Add Robot:</h1>
            <div class="row pb-4">
                <div class="col col-12">
                    <input type="text" style="width:100%" placeholder="Robot Name" class="p-2" id="nameInput"/>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col col-12">
                    <input type="text" style="width:100%" placeholder="IP Address"  class="p-2" id="ipInput"/>
                </div>
            </div>
            <div class="row">
                <a onclick="addBot()" id="addBotButton" class="btn-primary btn" style="width:50%;margin-left:50%;">add</a>
            </div>
            <div class="row">
                <div class="col-12">
                    <a class="text-warning" id="responseBox" style="display:none">Connection Failed</a>
                </div>
            </div>
          </div>
      </form>

    </div>
  </div>
</div>
<script src="~/js/addRobotFromForm.js" ></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>
                 Connected Misty's
            </h1>
        </div>
        <div class="col-12">
            <div class="connected-bot-table">
                @foreach(var bot in robots)
                {
                    <div class="connected-bot-info container-fluid">
                        <div class="row">
                            <div class="bot-info-section bot-name col-3">@(bot.name)</div>
                            <div class="bot-info-section bot-ip col-3">@(bot.ipAddress)</div>
                            <div class="col-6 bot-control-section">
                                <div class="bot-controls">
                                    <img src="~/img/icon/x-symbol.svg" class="remove-bot-icon" onclick="deleteBot('@(bot.name)')"/>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 mt-5">
            <div class="agents-controls">
                <button id="show-add-robot-modal-btn" type="button" class="btn-primary btn" data-toggle="modal" data-target="#add-robot-modal">
                    Add Robot
                </button>
            </div>
        </div>
    </div>
</div>