@page
@using MistyDashboard.ApplicationState
@model MistyDashboard.Pages.DashBoard.ConnectedRobotsModel
@inject IAppState singleState
@{
    ViewData["Title"] = "Agents";
    List<ConnectedRobot> robots = singleState.getBots();
}

<div class="modal fade " id="add-robot-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-4">
        <div class="modal-body p-4 px-5">
            <div class = "main-content text-center">
                <div class="warp-icon mb-4" bis_skin_checked="1">
                    <span class="icon-lock2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                        <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
                        <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
                        </svg>
                    </span>
                </div>
                <h1 class="mb-3">Add Robot</h1>
                <p class = "mb-4">Luke help me, I do not know what to put here but it makes the modal look better.</p>
                <form>
                    <div class="row pb-4">
                        <div class="col col-12">
                            <input type="text" style="width:100%; border: none; border-bottom: 1px solid #ccc;" placeholder="Robot Name" class="p-2 text-center" id="nameInput"/>
                        </div>
                    </div>
                    <div class="row pb-5">
                        <div class="col col-12">
                            <input type="text" style="width:100%; border: none; border-bottom: 1px solid #ccc;" placeholder="IP Address"  class="p-2 text-center" id="ipInput"/>
                        </div>
                    <div class="text-center mt-3">
                        <div class="col-12">
                            <a class="text-warning" id="responseBox" style="display:none">Connection Failed</a>
                        </div>
                    </div>
                    </div>
                    <div class="text-center">
                        <a onclick="addBot()" id="addBotButton" class="btn-primary btn" style="width:50%;">add</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
<script src="~/js/addRobotFromForm.js" ></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>
                 Connected Misty's
            </h1>
        </div>
        <div class="col-12">
            <div class="connected-bot-table">
                @foreach(var bot in robots)
                {
                    <div class="connected-bot-info container-fluid">
                        <div class="row">
                            <div class="bot-info-section bot-name col-3">@(bot.name)</div>
                            <div class="bot-info-section bot-ip col-3">@(bot.ipAddress)</div>
                            <div class="col-6 bot-control-section">
                                <div class="bot-controls">
                                    <img src="~/img/icon/x-symbol.svg" class="remove-bot-icon" onclick="deleteBot('@(bot.name)')"/>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-12 mt-5">
            <div class="agents-controls">
                <button id="show-add-robot-modal-btn" type="button" class="btn-primary btn" data-toggle="modal" data-target="#add-robot-modal">
                    Add Robot
                </button>
            </div>
        </div>
    </div>
</div>