@page
@using MistyDashboard.ApplicationState
@model MistyDashboard.Pages.DashBoard.TasksModel
@inject IAppState singleState
@{
    ViewData["Title"] = "Tasks";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-2">
            <h1>
                 Run Tasks
            </h1>
        </div>
        <div class="col-12 mb-3">
            <div class="tasks-selector-panel">
                <div class="tasks-selector-padding"> 
                    <p> 
                        Current Task: @(singleState.getCurrentTask()) 
                    </p>
                    <label for="TaskSelection"> Choose a task: </label>
                    <select name="TaskSelection" id="TaskSelection">
                        @foreach(string taskName in singleState.getTasks())
                        {
                            <option value="@(taskName)">@(taskName)</option>
                        }
                    </select>
                        <div>
                        <button id="run-task-btn" type="button" class="btn-success btn button-select-robot" onclick="startTask()">
                            Run
                        </button>
                        <button id="stop-task-btn" type="button" class="btn-danger btn button-select-robot" onclick="endTask()">
                            Stop
                        </button>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <h1>
                 Task Info
            </h1>
        </div>
        <div class="col-12">
            <div class="tasks-info-panel">
                <div class="tasks-selector-padding">
                    @if (singleState.getCurrentTask() == "none")
                    {
                        <p> 
                            no task running...
                        </p>
                    }
                    else
                    {
                        <p> 
                            Current Task: @(singleState.getCurrentTask()) 
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
