@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To the Misty Dashboard</h1>
    <button onclick = "startMisty('192.168.27.27')">Test Misty</button>
</div>
