@page
@{
    ViewData["Title"] = "Home";
}
<div class="text-center mt-5">
    <h1 class="display-4">Welcome To the Misty Dashboard</h1>
    <button class="btn btn-primary" onclick = "startMisty('192.168.27.27')">ENTER</button>
</div>
